.bgcl {
    height: 740px;
    width: 1620px;
    background-color: #121212b3;
}

.txt1 {
    color: #fff;
    font-size: 35px;
    font-weight: bolder;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    padding: 0px;

}

.txt2 {
    color: #fff;
    font-size: 70px;
    font-weight: bolder;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;


}

.bg {
    margin-top: 50px;
    background-image: url(image/Banner\ Image.png);
    height: 740px;
    width: 1620px;
    background-repeat: none;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;


    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.txt3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 100px;
}

.txt4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: 200;
    margin-bottom: 0px;
}

.txt5 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    margin-top: 5px;
}

.txt6 {
    display: block;
    margin: auto;
    height: 300px;
    width: 400px;
}

.bg1 {
    background-image: url(image/Vectorrr.png);
    height: 740px;
    width: 1620px;
    background-repeat: none;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
}

.bgcl1 {
    height: 740px;
    width: 1620px;
    background-color: #121212b3;
}

.fg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;

}

.txt7 {
    color: #fff;
}

.txt8 {
    font-size: 70px;
    margin-top: 5px;
}

.btn {
    margin-left: 20px;
    margin-top: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: bolder;
}

.txt9 {
    font-size: 30px;
    font-weight: 600;
}

.sn {
    color: red;
}

.bgcl2 {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#f7d2d2, #f8f7f6);
}

.btn2 {
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 80px;
}

.sec1 {
    padding: 130px;
}

.txt10 {
    color: red;
    font-weight: 400;

}

.ty {
    display: flex;
    justify-content: space-around;

}

.txt11 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.txt13 {
    color: red;
    font-size: xx-large;
    font-weight: bolder;
}

.bdr {
    background-color: red;
    border-radius: 300px;
    padding: 10px;
    
}

.bdr2 {
    margin: 10px;
}

.txt14 {
    font-weight: 600;
    margin-bottom: 0px;
}

.txt15 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.txt16 {
    color: red;
}

.txt17 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.ty {
    margin: 10px 200px 10px;
}

.d2 {
    display: flex;

}

.d3 {
    display: flex;
}

.c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c2 {
    margin-right: 360px;
    margin-top: 100px;
}

.d4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fae3e0;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 100px;
    padding-bottom: 60px;
    padding-top: 40px;
}

.f1 {
    display: flex;
    background-color: red;
    padding: 0px;
    border-radius: 100px;
}

.bt3 {
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    border: none;
}

.txt12 {
    text-align: start;
}

.ft {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-top: 100px;
}

.ftr {
    background-color: black;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 200px;
}

.ftr1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.im {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ftr2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;

}

.h {
    width: 1200px;
}

.img2 {
    height: 200px;
    width: 360px;
    z-index: 1;
    margin-bottom: 120px;
    margin-left: 200px;
}

.img6{
    display: flex;
    margin-left: 308px;
    align-items: center;
    justify-content: center;
}

.img5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.txt18 {
    display: flex;
    
    align-items: center;
  
}